<h2>Login to your account</h2>

<form method="POST" action="/login">

<label for="email">Email:</label>
<input class="input" type="text" name="email">

<label for="password">Password:</label>
<input class="input" type="password" name="password">
<br>

<input type="submit" value="Submit" class="myButton">

</form>

