<h2>The Victims</h2>
<br>
<% @victims.each do |victim|%>
    <p><a href="/victims/<%= victim.id%>"><%=victim.name%></a></p>
<%end%>

<form action="/victims/new">
  <input type="submit" value="Add Victim" class="myButton">
</form>
<form action="/logout">
  <input type="submit" value="Log Out" class="myButton">
</form>
