<h3>Welcome, <%= @killer.name%>!</h3>
<h2>The Victims</h2>
<br>
<% @victims.each do |victim|%>
    <ul class="myList"><a class="victim_list" href="/victims/<%= victim.id%>"><%=victim.name%></a></ul>
<%end%>

<form action="/victims/new">
  <input type="submit" value="Add Victim" class="myButton">
</form>
<br>
<form action="/logout">
  <input type="submit" value="Log Out" class="myButton">
</form>
