<h2>Add new victim!</h2>
<br>
<form method="POST" action="/victims">
<%# <lable>Select Killer</lable> %>
<input type="text" name="victim_name">

<input type="text" name="time_of_death">

<input type="text" name="last_words">
<input type="submit" value="submit">
</form>