<h2>Add your new victim!</h2>
<br>
<%if @victim%>
    <% @victim.errors.full_messages.each do |message| %>
    <p color="red"><%= message %></p>
    <%end%>
<%end%>


<form method="POST" action="/victims">

<lable></lable>
<input class="input" type="text" name="name" placeholder="Victim's Name">
<br>
<br>
<lable></lable>
<input class="input" type="datetime-local" name="time_of_death" placeholder="Victim's Time of Death">
<br>
<br>
<lable></lable>
<input class="input" type="text" name="last_words" placeholder="Victim's Last Words">
<br>
<br>
<input type="submit" value="Submit" class="myButton">
</form>