<h2>Add your new victim!</h2>
<br>
<%= @victim.errors.full_messages if @victim%>

<form method="POST" action="/victims">

<lable>Victim's Name</lable>
<input type="text" name="name">
<br>
<br>
<lable>Victim's Time of Death</lable>
<input type="text" name="time_of_death">
<br>
<br>
<lable>Victim's Last Words</lable>
<input type="text" name="last_words">
<br>
<br>
<input type="submit" value="Submit" class="myButton">
</form>