<h2>Create Your Account</h2>

<form method="POST" action="/signup">

<label for="name"></label>
<input class="input" type="text" name="name" placeholder="Name">
<br>
<label for="email"></label>
<input class="input" type="text" name="email" placeholder="Email">
<br>
<label for="specialty"></label>
<input class="input" type="text" name="specialty" placeholder="Your Specialty">
<br>
<label for="password"></label>
<input class="input" type="password" name="password" placeholder="Password">
<br>
<input type="submit" value="Submit" class="myButton">
</form>
 