<div class="container">
    <h2>Welcome!</h2>

    <div class="content">
    <p>If you happened to stumble upon this page, do yourself a favor a leave. Other wise, continue...</p>
    <h3>Please <a Log href="/login">Log In</a> or <a Log href="/signup">Sign Up</a>!</h3>
    </div>

  </div>
</div>
