<div class="container">
    <h2>Welcome to the service!</h2>

    <div class="content" >
    <p>If you happened to stumble upon this page, do yourself a favor a leave. Other wise, continue...</p>
    <h3><a href="/login" class="myButton">Log In</a> or <a href="/signup" class="myButton">Sign Up</a>!</h3>
    </div>

  </div>
</div>
